**/.spyproject
**/.ipynb_checkpoints
**/__pycache__
**/*.cmd
**/*.o
**/*.stpl
**/*.vscode
**/build
**/Debug
**/Release
/examples/**/numenv
/examples/**/*.stpl
/examples/**/csv_files
/examples/**/results
/examples/**/config_inputs
/tests
/uraeus/nmbd/cpp/engine/sandbox

build
dist
# Egg metadata
*.egg-info
