# ----------------------------------------------------
# project directories
# ----------------------------------------------------
**/.spyproject
**/.ipynb_checkpoints
**/*.vscode
**/__pycache__

# ----------------------------------------------------
# common build extensions
# ----------------------------------------------------
**/*.cmd
**/*.o
**/*.obj
**/*.lib
**/*.stpl
**/*.pyd
**/*.so

# ----------------------------------------------------
# build directories
# ----------------------------------------------------
**/build
**/Debug
**/Release

# ----------------------------------------------------
# sandbox directory
# ----------------------------------------------------
/uraeus/nmbd/cpp/engine/sandbox

# ----------------------------------------------------
# Egg metadata
# ----------------------------------------------------
*.egg-info
*.egg
build
dist
sdist
